@charset "utf-8";

body{
	min-height:100%;
}
#main{
	width: 100%; 
	height:100%;
	overflow: hidden;
	background: url(../images/bg.jpg) no-repeat;
	position: relative;
	color: #FFF; 
}
#con{
	width: 100%;
	height: 100%;
}
#con_bg{
	width: 100%;
    height: 100%;
    position: relative;
}
#names ,#sentiments{
    width: 100%;
    position: absolute;
    top: 15%;
    text-align: center;
    font-family: "微软雅黑";
    line-height: 2.5rem;
}
#names>img{
	margin-bottom: 2%;
	opacity: 0;
}
#names label{
	font-size: 1.6rem;
}
#names input , #sentiments input{
	border: 1px solid #e5e5e5;
    padding-left: .5rem;
	line-height:2.5rem;
}
#imgs , #sentiments, #show_bg{
	display: none;
	color: #FFF;
}
#imgs{
	text-align: center;
	color: #FFF;
	padding: 5% 2%;
    position: absolute;
    top: 16%;
}
#imgs img{
	width: 100%;
	height: 100%;
}
#imgs ul{
	width: 100%;
	overflow: hidden;
}
#imgs ul li{
	width: 30%;
	float: left;
	height: 6.5rem;
	margin-bottom: 1%;
	border: .2rem solid transparent;
}
#imgs ul li:nth-of-type(3n+2) {
    margin: 0 2.5%;
}
#show_bg{
	width: 100%;
	height: 50%;
	overflow: hidden;
	text-align: center;
	position: absolute;
    top: 15%;
}
.show_img{
	position: relative;
}

.show_img>img{
	width: 100%;
	height: 100%;
}
.show_txt{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: #FFF;
    font-size: 2rem;
}
#show_name{
    position: absolute;
    top: 35%;
    width: 60%;
}
#show_name img{
	width: 2.5rem;
	height: 2.5rem;
}
#sent{
    position: absolute;
    top: 45%;
    left: 0%;
    font-size: 2.5rem;
    font-family: '楷体';
    width: 53%;
}
#con button{
	line-height: 2rem;
    border: 1px solid #e5e5e5;
    margin-top: 1rem;
}

#con #names button{
	margin: 0;
}

.add_transform{  
   transform:rotate(180deg);  
   -ms-transform:rotate(180deg);    /* IE 9 */  
   -moz-transform:rotate(180deg);   /* Firefox */  
   -webkit-transform:rotate(180deg); /* Safari 和 Chrome */  
    -o-transform:rotate(180deg);    /* Opera */  
    transition: all 0.5s ease-in-out;  
    -moz-transition: all 0.5s ease-in-out; /* Firefox 4 */  
    -webkit-transition: all 0.5s ease-in-out; /* Safari 和 Chrome */  
    -o-transition: all 0.\5s ease-in-out; /* Opera */  
    width: 0 !important;
    height: 0;
}  
#imgs ul .selected{
	border: .2rem solid #FFFFFF;
	
}
@media screen and (min-width: 768px){
	#names , #sentiments{
    top: 62%;
}
}